rvl_alias "w_pll_100m" "w_pll_100m";
RVL_ALIAS "w_pll_100m" "w_pll_100m"; 
RVL_ALIAS "w_pll_100m" "w_pll_100m"; 
RVL_ALIAS "w_pll_150m" "w_pll_150m"; 
RVL_ALIAS "w_sclk" "w_sclk"; 
RVL_ALIAS "w_sclk" "w_sclk"; 
RVL_ALIAS "w_pll_200m" "w_pll_200m"; 
RVL_ALIAS "w_pll_200m" "w_pll_200m"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "i_clk_50m" SITE "A7" ;
IOBUF PORT "i_clk_50m" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_ddrclk_100m" SITE "J1" ;
IOBUF PORT "i_ddrclk_100m" IO_TYPE=LVDS ;
LOCATE COMP "i_rst_n" SITE "R6" ;
IOBUF PORT "i_rst_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "em_ddr_addr[0]" SITE "K2" ;
LOCATE COMP "em_ddr_addr[1]" SITE "K1" ;
LOCATE COMP "em_ddr_addr[2]" SITE "G5" ;
LOCATE COMP "em_ddr_addr[3]" SITE "F5" ;
LOCATE COMP "em_ddr_addr[4]" SITE "K3" ;
LOCATE COMP "em_ddr_addr[5]" SITE "J3" ;
LOCATE COMP "em_ddr_addr[6]" SITE "H2" ;
LOCATE COMP "em_ddr_addr[7]" SITE "G1" ;
LOCATE COMP "em_ddr_addr[8]" SITE "J5" ;
LOCATE COMP "em_ddr_addr[9]" SITE "J4" ;
LOCATE COMP "em_ddr_addr[10]" SITE "H4" ;
LOCATE COMP "em_ddr_addr[11]" SITE "H5" ;
LOCATE COMP "em_ddr_addr[12]" SITE "H3" ;
LOCATE COMP "em_ddr_addr[13]" SITE "G2" ;
LOCATE COMP "em_ddr_ba[0]" SITE "F1" ;
LOCATE COMP "em_ddr_ba[1]" SITE "E1" ;
IOBUF PORT "em_ddr_addr[0]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[1]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[2]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[3]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[4]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[5]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[6]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[7]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[8]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[9]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[10]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[11]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[12]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_addr[13]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_ba[0]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_ba[1]" IO_TYPE=SSTL135_I ;
LOCATE COMP "em_ddr_ba[2]" SITE "F2" ;
LOCATE COMP "em_ddr_cas_n" SITE "C1" ;
LOCATE COMP "em_ddr_cke" SITE "D3" ;
IOBUF PORT "em_ddr_ba[2]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_cas_n" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_cke" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_clk" IO_TYPE=SSTL135D_I ;
LOCATE COMP "em_ddr_clk" SITE "M6" ;
LOCATE COMP "em_ddr_cs_n" SITE "C2" ;
IOBUF PORT "em_ddr_cs_n" IO_TYPE=SSTL135_I ;
LOCATE COMP "em_ddr_dm[0]" SITE "M5" ;
LOCATE COMP "em_ddr_dm[1]" SITE "L3" ;
IOBUF PORT "em_ddr_dm[0]" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_dm[1]" IO_TYPE=SSTL135_I ;
LOCATE COMP "em_ddr_odt" SITE "G4" ;
LOCATE COMP "em_ddr_ras_n" SITE "B1" ;
LOCATE COMP "em_ddr_reset_n" SITE "B2" ;
LOCATE COMP "em_ddr_we_n" SITE "C3" ;
IOBUF PORT "em_ddr_odt" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_ras_n" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_reset_n" IO_TYPE=SSTL135_I ;
IOBUF PORT "em_ddr_we_n" IO_TYPE=SSTL135_I ;
LOCATE COMP "em_ddr_data[0]" SITE "T3" ;
LOCATE COMP "em_ddr_data[1]" SITE "R4" ;
LOCATE COMP "em_ddr_data[2]" SITE "P4" ;
LOCATE COMP "em_ddr_data[3]" SITE "T2" ;
LOCATE COMP "em_ddr_data[4]" SITE "R2" ;
LOCATE COMP "em_ddr_data[5]" SITE "P3" ;
LOCATE COMP "em_ddr_data[6]" SITE "N4" ;
LOCATE COMP "em_ddr_data[7]" SITE "R3" ;
LOCATE COMP "em_ddr_data[8]" SITE "M2" ;
LOCATE COMP "em_ddr_data[9]" SITE "M1" ;
LOCATE COMP "em_ddr_data[10]" SITE "L2" ;
LOCATE COMP "em_ddr_data[11]" SITE "L1" ;
LOCATE COMP "em_ddr_data[12]" SITE "K4" ;
LOCATE COMP "em_ddr_data[13]" SITE "K5" ;
LOCATE COMP "em_ddr_data[14]" SITE "L4" ;
LOCATE COMP "em_ddr_data[15]" SITE "L5" ;
IOBUF PORT "em_ddr_data[0]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[1]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[2]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[3]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[4]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[5]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[6]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[7]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[8]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[9]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[10]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[11]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[12]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[13]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[14]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_data[15]" IO_TYPE=SSTL135_I SLEWRATE=FAST ;
IOBUF PORT "em_ddr_dqs[0]" IO_TYPE=SSTL135D_I DIFFRESISTOR=100 SLEWRATE=FAST ;
IOBUF PORT "em_ddr_dqs[1]" IO_TYPE=SSTL135D_I DIFFRESISTOR=100 SLEWRATE=FAST ;
LOCATE COMP "em_ddr_dqs[0]" SITE "R5" ;
LOCATE COMP "em_ddr_dqs[1]" SITE "N1" ;
BLOCK PATH FROM CLKNET "*/clkos*" TO CLKNET "*eclk" ;
BLOCK PATH FROM CLKNET "*/clkos*" TO CLKNET "w_sclk" ;
MAXDELAY NET "*/U1_ddr3_sdram_phy/ddr3_read_data_out[*]" 4.500000 ns ;
MAXDELAY NET "*/U1_ddr3_sdram_phy/datavalid_o[*]" 4.400000 ns ;
MAXDELAY FROM CELL "*/U1_ddr3_sdram_phy/U1_wr_path/ddr3_wr_data_val_in[*]" 4.500000 ns ;
MAXDELAY FROM CELL "*/U1_ddr3_sdram_phy/U1_wr_path/ddr3_dqsout_in[*]" 4.500000 ns ;
MAXDELAY NET "*/U1_ddr3_sdram_phy/burstdet[*]" 4.500000 ns ;
MAXDELAY NET "*/U1_ddr3_sdram_phy/rt_rdclksel[*]" 4.500000 ns ;
MAXDELAY NET "*/U1_ddr3_sdram_phy/rt_dqs_read[*]" 4.500000 ns ;
MAXDELAY NET "*/U1_ddr3_sdram_phy/dqsbufd_pause" 4.500000 ns ;
MAXDELAY NET "*/U1_ddr3_sdram_phy/wl_dyndelay[*]" 4.500000 ns ;
#eth phy
LOCATE COMP "io_phy_mdio" SITE "B4" ;
LOCATE COMP "o_phy_mdc" SITE "E5" ;
LOCATE COMP "o_phy_reset_n" SITE "C4" ;
IOBUF PORT "io_phy_mdio" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_phy_mdc" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_phy_reset_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_ethphy_refclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_ethphy_rxd[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_ethphy_rxd[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_ethphy_rxdv" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_ethphy_refclk" SITE "C7" ;
LOCATE COMP "i_ethphy_rxd[0]" SITE "C5" ;
LOCATE COMP "i_ethphy_rxd[1]" SITE "D5" ;
LOCATE COMP "i_ethphy_rxdv" SITE "A6" ;
BLOCK JTAGPATHS ;
LOCATE COMP "o_ethphy_txen" SITE "E4" ;
IOBUF PORT "o_ethphy_txen" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_ethphy_txd[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_ethphy_txd[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_ethphy_txd[0]" SITE "A4" ;
LOCATE COMP "o_ethphy_txd[1]" SITE "A3" ;
#adc
LOCATE COMP "o_tempadc_sel[0]" SITE "B10" ;
LOCATE COMP "o_tempadc_sel[1]" SITE "C10" ;
IOBUF PORT "o_tempadc_sel[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tempadc_sel[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_adc_sda" SITE "B11" ;
IOBUF PORT "i_adc_sda" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_adc_cs1" SITE "E10" ;
LOCATE COMP "o_adc_cs2" SITE "D10" ;
IOBUF PORT "o_adc_cs1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_adc_cs2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_adc_sclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_da_pwm" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_hv_en" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_adc_sclk" SITE "C11" ;
LOCATE COMP "o_da_pwm" SITE "R16" ;
LOCATE COMP "o_hv_en" SITE "M13" ;
#ld trig
LOCATE COMP "o_laser_str[0]" SITE "L16" ;
LOCATE COMP "o_laser_str[1]" SITE "L15" ;
LOCATE COMP "o_laser_str[2]" SITE "M16" ;
LOCATE COMP "o_laser_str[3]" SITE "M15" ;
LOCATE COMP "o_laser_str[4]" SITE "P15" ;
LOCATE COMP "o_laser_str[5]" SITE "L14" ;
LOCATE COMP "o_laser_str[6]" SITE "M14" ;
LOCATE COMP "o_laser_str[7]" SITE "P16" ;
IOBUF PORT "o_laser_str[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_laser_str[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_laser_str[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_laser_str[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_laser_str[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_laser_str[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_laser_str[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_laser_str[7]" IO_TYPE=LVCMOS33 ;
#motor
IOBUF PORT "o_motor_pwm1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_motor_pwm2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_motor_fg1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "i_motor_fg2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "i_motor_rd1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_motor_rd2" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_motor_rd1" SITE "R15" ;
LOCATE COMP "i_motor_rd2" SITE "R14" ;
#code
LOCATE COMP "i_code_sigin1" SITE "T14" ;
LOCATE COMP "i_code_sigin2" SITE "T13" ;
IOBUF PORT "i_code_sigin1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_code_sigin2" IO_TYPE=LVCMOS33 ;
//flash
LOCATE COMP "i_flash_miso" SITE "T7" ;
IOBUF PORT "i_flash_miso" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA ;
LOCATE COMP "o_flash_cs" SITE "N8" ;
IOBUF PORT "o_flash_cs" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_flash_mosi" SITE "T8" ;
IOBUF PORT "o_flash_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
BLOCK JTAGPATHS ;
#tdc
LOCATE COMP "i_tdc1_lvds_serclk" SITE "K16" ;
IOBUF PORT "i_tdc1_lvds_serclk" IO_TYPE=LVDS ;
LOCATE COMP "i_tdc2_lvds_serclk" SITE "J16" ;
IOBUF PORT "i_tdc2_lvds_serclk" IO_TYPE=LVDS ;
LOCATE COMP "i_tdc1_lvds_serdata" SITE "H12" ;
LOCATE COMP "i_tdc2_lvds_serdata" SITE "G16" ;
IOBUF PORT "i_tdc1_lvds_serdata" IO_TYPE=LVDS ;
IOBUF PORT "i_tdc2_lvds_serdata" IO_TYPE=LVDS ;
LOCATE COMP "i_tdc_spi_miso[0]" SITE "E9" ;
LOCATE COMP "i_tdc_spi_miso[1]" SITE "A15" ;
IOBUF PORT "i_tdc_spi_miso[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_tdc_spi_miso[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_tdc_enable[0]" SITE "D8" ;
IOBUF PORT "o_tdc_enable[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_tdc_enable[1]" SITE "C13" ;
LOCATE COMP "o_tdc_resetn[0]" SITE "B8" ;
LOCATE COMP "o_tdc_resetn[1]" SITE "D13" ;
LOCATE COMP "o_tdc_spi_clk[0]" SITE "B9" ;
LOCATE COMP "o_tdc_spi_clk[1]" SITE "E13" ;
LOCATE COMP "o_tdc_spi_mosi[0]" SITE "D9" ;
LOCATE COMP "o_tdc_spi_mosi[1]" SITE "A14" ;
LOCATE COMP "o_tdc_spi_ssn[0]" SITE "C9" ;
LOCATE COMP "o_tdc_spi_ssn[1]" SITE "A13" ;
IOBUF PORT "o_tdc_enable[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tdc_resetn[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tdc_resetn[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tdc_spi_clk[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tdc_spi_clk[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tdc_spi_mosi[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tdc_spi_mosi[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tdc_spi_ssn[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tdc_spi_ssn[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_motor_pwm1" SITE "N13" ;
LOCATE COMP "o_motor_pwm2" SITE "N14" ;
LOCATE COMP "i_motor_fg1" SITE "R13" ;
LOCATE COMP "i_motor_fg2" SITE "T15" ;
